/* Example CSS - Update with your actual styles */
.mySwiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 300px !important; /* Set explicit width */
  height: 500px !important; /* Set explicit height */
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 10px;
}
.result-card-respo{
  width: 420px;
  height:  500px !important;
}
.result-card-respo {
  width: 100%; 
  max-width: 420px;
  height: 100%; 
  margin: auto;
  overflow: hidden;
}


@media (max-width: 768px) {
  .mySwiper {
    width: 100%;
    height: auto; 
  }
}


.swiper-slide-shadow-coverflow{
  display: none;
}
/* Add these styles to your CSS */
.skeleton-loading {
  
  border-radius: 0.375rem; /* Adjust the border radius to match your design */
  overflow: hidden;
  position: relative;
}

.skeleton-item {
  height: 300px !important;
  width: 200px !important;
  background-color: red;
  border-radius: 20px;
  margin-bottom: 10px; /* Adjust the spacing between skeleton items */
  background: linear-gradient(90deg, #e7e7e7 25%, #cfcfcf 50%, #e7e7e7 75%); /* Customize the gradient to create a shimmer effect */
  background-size: 200% 100%; /* Set the size of the gradient background */
  animation: shimmer 1.5s infinite; /* Add animation for shimmer effect */
}

@keyframes shimmer {
  to {
    background-position: -200% 0; /* Move the background position to create a shimmer effect */
  }
}
