@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #262626;
  background-color: #fff0e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  border-bottom: 3px solid white;
}

body {
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.navlink{
text-decoration: none;
}
.navActive {
  border-bottom: 3px solid rgba(212, 212, 212, 0.486);
}

.background-custom-color{
  background-color: #fff0e9;
}
.navLogo{
  text-decoration: none !important;
}
.navLogo:hover{
  border-bottom: none !important;
}
